<footer class="footer text-center">
    <div class="container">
        <ul class="list-inline mb-5">
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="mailto:mail@dramywebber.co.uk">
              <i class="icon-social-envelope"></i>
            </a>
            <div class="social-link">
              <h4>
                <strong>mail@dramywebber.co.uk</strong>
              </h4>
            </div>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="#">
              <i class="icon-social-twitter"></i>
            </a>
            </li>
        </ul>
        <p class="text-muted small mb-0">Copyright &copy; Dr Amy Webber 2020</p>
    </div>
</footer>