<!-- Services -->
<section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0">Services</h3>
            <h2 class="mb-5">Personal Tutoring</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-magic-wand"></i>
            </span>
                <h4>
              <strong>A-Level</strong>
            </h4>
                <p class="text-faded mb-0">Yer classic British certification</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-pencil"></i>
            </span>
                <h4>
              <strong>The IB</strong>
            </h4>
                <p class="text-faded mb-0">Fancy-dan European stuff</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-badge"></i>
            </span>
                <h4>
              <strong>Testimonials</strong>
            </h4>
                <p class="text-faded mb-0">So much
                    <i class="fas fa-heart"></i>
                    from previous students.</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-chemistry"></i>
            </span>
                <h4>
              <strong>This is a beaker</strong>
            </h4>
                <p class="text-faded mb-0">It's the wrong type of science</p>
            </div>
        </div>
    </div>
</section>