<!-- Services -->
<section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0">Services</h3>
            <h2 class="mb-5">Personal Tutoring</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-graduation"></i>
            </span>
                <h4>
              <strong>A-Level and the IB</strong>
            </h4>
                <p class="text-faded mb-0">All your certs under one roof</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-vector"></i>
            </span>
                <h4>
              <strong>Physics</strong>
            </h4>
                <p class="text-faded mb-0">The best of the sciences</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-star"></i>
            </span>
                <h4>
              <strong>Testimonials</strong>
            </h4>
                <p class="text-faded mb-0">So much
                    <i class="fas fa-heart"></i>
                    from previous students</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-symbol-female"></i>
            </span>
                <h4>
              <strong>A lady physicist</strong>
            </h4>
                <p class="text-faded mb-0">Well I never!</p>
            </div>
        </div>
    </div>
</section>